@{
     Layout = "_Layout";
}
<div class="row mt-5" style="margin:auto; width:50%;" id="member" >
     <h4>SignUp</h4>
 <form method="post">
            <label for="First_name" >First Name</label>
            <input type="text" name="First_name" class="form-control" required/><br/>

            <label for="Email" >Email</label>
            <input type="text" name="Email" class="form-control" required/><br/>

            <label for="Phone_number" >Phone</label>
            <input type="text" name="Phone_number" class="form-control" required/><br/>

            <label for="Passwor" >Password</label>
            <input type="text" name="Password" class="form-control" required/><br/>
            <input type="submit" class="submitBtn" style="float:center;" value="SignUp"/>
</form>
</div>
